@import "tailwindcss";

#root {
  height: 100vh;
  font-family: sans-serif;
}

.leaflet-container {
  /* height: 100vh !important;
  width: 100% !important; */
}

@import "tailwindcss";

/* Hide scrollbar but allow scrolling */
*::-webkit-scrollbar {
  display: none;
}

/* Keeps scrollbar but removes up/down arrow buttons
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

Optional: style scrollbar track & thumb
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d0d0d0; /* Tailwind gray-400 
  border-radius: 9999px;
} */
